@import url(variables.css);


.container {
    width: min(100%, 1440px);
    margin: auto;
    background-color: var(--main-color);
    padding: 32px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 48px 146px 146px 284px;
    gap: 48px 40px;
    grid-template:
        'HEADER HEADER HEADER HEADER'
        'ASIDE mainPhoto mainPhoto smallPhoto1'
        'ASIDE mainPhoto mainPhoto smallPhoto2'
        'card1 card2 card3 card4';
}

/* header */
header {
    grid-area: HEADER;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header-logo-link {
    width: 48px;
    height: 48px;
}

.app-header-nav ul {
    display: flex;
    column-gap: 84px;
}

.app-header-li-link {
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: var(--link-font-size);
    font-weight: var(--link-font-weight);
}

.app-header-rightSide {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.app-header-rightSide-search-text {
    color: var(--link-color);
    font-family: var(--main-font);;
    font-size: var(--search-font-size);
    font-weight: var(--link-font-weight);
}

.app-header-rightSide-search-icon {
    color: var(--link-color);
    font-size: var(--icon-font-size);
}

.app-header-rightSide-search {
    display: flex;
    padding: 8px 20px 7px 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    border-radius: var(--search-bar-border-radius);
    background: var(--search-bar-background);
    box-shadow: var(--search-bar-border-shadow);
}

.app-header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--link-font-size);
    width: 32px;
    height: 32px;
    border-radius: var(--search-bar-border-radius);
    background: var(--search-bar-background);
    box-shadow: var(--icon-border-shadow);
    border: none;
}


.fa-user {
    color: var(--link-color);
}

.fa-cart-shopping {
    color: var(--button-color);
}

/* aside */

aside {
    grid-area: ASIDE;
    height: 340px;
    box-shadow: var(--aside-border-shadow);
    background-color: var(--search-bar-background);
}

.app-aside-main-header {
    margin: 38px 0 16px 40px;
    color: var(--button-color);
    font-family: var(--main-font);;
    font-size: var(--icon-font-size);
    font-weight: var(--link-font-weight);
    line-height: var(--aside-line-height);
}

.app-aside-navigation {
    margin-left: 48px;
}

.app-aside-header {
    color: var(--link-color);
    font-family: var(--main-font);
    font-size: var(--search-font-size);
    font-weight: var(--aside-font-weight);
    line-height: var(--aside-nav-line-height);
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-bottom: 5px;
}

.app-aside-nav-ul {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.app-aside-nav-li-link {
    color: var(--link-color);
    font-family: var(--main-font);
    font-size: var(--search-font-size);
    font-weight: var(--link-font-weight);
    line-height: var(--aside-nav-line-height);
}

/* main card */

.app-main-card {
    background-image: url(../images/mainSofa.png);
    background-position: center;
    background-size: cover;
    grid-area: mainPhoto;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.app-product-info-container {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    background-color: var(--text-color);
}

.app-product-info-price {
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: var(--icon-font-size);
    font-weight: var(--aside-font-weight);
    line-height: var(--price-line-height);
}

.app-product-info-add-to-cart-button {
    height: 100%;
    width: 180px;
    border: none;
    background-color: var(--button-color);
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: var(--search-font-size);
    font-weight: var(--aside-font-weight);
    line-height: var(--button-line-height);
    cursor: pointer;
}


.app-right-side-small-photo {
    background-color: burlywood;
}

.app-right-side-small-photo1 {
    grid-area: smallPhoto1;
    background-image: url(../images/smallSofa1.png);
    background-position: center;
    background-size: cover;
}

.app-right-side-small-photo2 {
    grid-area: smallPhoto2;
    background-image: url(../images/smallSofa2.png);
    background-position: center;
    background-size: cover;
}

/* cards */

.app-card {
    height: 280px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.app-card-header {
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: var(--header-font-size);
    font-weight: var(--aside-font-weight);
    line-height: var(--header-line-height);
    margin: 8px 0 0 8px;
}

.app-card-photos-odd, .app-card-photos-even {
    height: 180px;
}

.app-card-photos-odd {
    background-image: url(../images/card1.png);
    background-position: center;
    background-size: cover;
}

.app-card-photos-even {
    background-image: url(../images/card2.png);
    background-position: center;
    background-size: cover;
}

.app-card-text {
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: var(--icon-font-size);
    font-weight: var(--link-font-weight);
    line-height: var(--price-line-height);
}

.app-card .app-product-info-add-to-cart-button {
    width: 97px;
}

.app-card .app-product-info-container {
    padding-left: 8px;
}

.app-card1 {
    grid-area: card1;
}

.app-card2 {
    grid-area: card2;
}

.app-card3 {
    grid-area: card3;
}

.app-card4 {
    grid-area: card4;
}
