@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root {
    --main-color: #1C5550;
    --button-color: #C3B97F;
    --text-color: #DFD9D9;
    --link-color: #91B599;
    --main-font: 'Inter', sans-serif;
    --header-font-size: 24px;
    --link-font-size: 18px;
    --search-font-size: 14px;
    --icon-font-size: 16px;
    --link-font-weight: 400;
    --aside-font-weight: 700;
    --header-line-height: 32px;
    --aside-line-height: 27px;
    --aside-nav-line-height: 25px;
    --price-line-height: 24px;
    --button-line-height: 22px;

    --search-bar-border-radius: 4px;
    --search-bar-border-shadow: 1.52px 3px 3px -0.8px rgba(0, 0, 0, 0.20) inset, 0px -0.3px 1px 0px rgba(223, 217, 217, 0.40) inset;
    --icon-border-shadow: 0px 2px 4px -2px rgba(223, 217, 217, 0.40) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
    --aside-border-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20) inset, 0px -1px 4px 0px rgba(223, 217, 217, 0.40) inset;
    --search-bar-background: rgba(0, 0, 0, 0.20);

    
    
    --header-font: Bold 24px;
    --paragraph1-font: regular 18px 'Inter', sans-serif;
    --paragraph2-font: regular 16px 'Inter', sans-serif;
    --paragraph2-bold-font: bold 16px 'Inter', sans-serif;
    --paragraph3-font: regular 14px 'Inter', sans-serif;
    --paragraph3-bold-font: bold 14px 'Inter', sans-serif;
}